<h1><%= @movie.title %></h1>

<h2>Director: <%= @movie.director %></h2>
<h2>Plot: <%= @movie.plot %></h2>
<h3>Year: <%= @movie.year %></h3>
<h4>English: <%= @movie.english %> </h4>


<h2>Which Movie Is Your Favorite?</h2>

<form>  
  <input type="radio" name="title" value="Forrest Gump" checked > Forrest Gump <br>
  <input type="radio" name="title" value="Day of the Rain"> Day of the Rain <br>
  <input type="radio" name="title" value="American Gangster"> American Gangster 

</form>


<h2>Tells Us What You Think</h2>
<form>
<textarea row="30" cols="60" ></textarea><br>
<input type="submit" valye="Submit">
</form>


